<g>
  <!-- Summary Stats Table -->
  <rect rx={margin} ry={margin} x={startX} y={statsStartY-margin} height={stats.length*statsScale*1.5+2*margin} width={adjustedStatsDrawingWidth||drawingWidth} fill="#184738" stroke="none" />
  {#each stats as stat, i}
    <text id={stat.id} x={startX+margin} y={statsStartY+i*1.5*statsScale+statsScale} font-size={statsScale} text-anchor="left" fill={legendFontColor}
        font-family='Oswald' font-weight=200>
      {stat.label}
    </text>
  {/each}

  <!-- Legend -->
  {#each legendAnnotated as level, i}
    {#if level._entityID}
      <!-- legend row oval -->
      <rect rx={labelScale*1.9/2} ry={labelScale*1.9/2} x={startX} y={legendStartY+i*2*labelScale} height={labelScale*1.9} width={drawingWidth} fill="#184738" stroke="none" />
      <!-- key oval -->
      <rect rx={keyHeight/2} ry={keyHeight/2} x={keyStartX} y={legendStartY+i*2*labelScale+wrapMargin} height={keyHeight} width={keyWidth} fill={level.color} stroke="none" />
      <!-- percent text -->
      <text x={keyStartX+keyWidth/2} y={legendStartY+i*2*labelScale+1.25*labelScale} font-size={labelScale} text-anchor="middle" fill={level.textColor}
          font-family='Oswald' font-weight=200>
        {percentages[level._entityID].percentage}%
      </text>
      <!-- label text -->
      <text id={level.labelID} x={labelTextStartX} y={legendStartY+i*2*labelScale+1.25*labelScale} font-size={labelScale} text-anchor="left" fill={legendFontColor}
          font-family='Oswald' font-weight=200>
        {level.label}
      </text>
      {#if descriptionsInLegend}
        <!-- divider -->
        <line x1={dividerX} y1={legendStartY+i*2*labelScale+2*wrapMargin} x2={dividerX} y2={legendStartY+(i+1)*2*labelScale-2*wrapMargin-0.1*labelScale} stroke="white" stroke-width={labelScale/12} stroke-dasharray="{labelScale/12} {labelScale/6}"/>
        <!-- description text -->
        <text id={level.descriptionID} x={descriptionTextStartX} y={legendStartY+i*2*labelScale+labelScale+0.25*descriptionScale} font-size={descriptionScale} text-anchor="left" fill={legendFontColor}
            font-family='Oswald' font-weight=200>
          {level.description}
        </text>
      {/if}
    {:else}
      <!-- legen row oval -->
      <rect rx={labelScale*1.9/2} ry={labelScale*1.9/2} x={startX} y={legendStartY+i*2*labelScale} height={labelScale*1.9} width={drawingWidth} fill="#DDDDDD" stroke="none" />
      <!-- Goal row in legend -->
      <line x1={keyStartX+3*wrapMargin} y1={legendStartY+i*2*labelScale+0.7*labelScale} x2={keyStartX+keyWidth-3*wrapMargin} y2={legendStartY+i*2*labelScale+0.7*labelScale}
          stroke={legendAnnotated[0].color} stroke-width={.5} stroke-linecap="butt" stroke-dasharray="1, 0.5" />
      <text x={keyStartX+keyWidth/2} y={legendStartY+i*2*labelScale+1.4*labelScale} font-size={labelScale/2} text-anchor="middle" fill={legendAnnotated[0].color}
          font-family='Oswald' font-weight=200>
          <!-- TODO: Get the first goal date to use here rather than this hard coded one -->
        2019Q1
      </text>
      <!-- label text -->
      <text id={level.labelID} x={labelTextStartX} y={legendStartY+i*2*labelScale+1.25*labelScale} font-size={labelScale} text-anchor="left" fill="#184738"
          font-family='Oswald' font-weight=200>
        {level.label}
      </text>
      {#if descriptionsInLegend}
        <!-- divider -->
        <line x1={dividerX} y1={legendStartY+i*2*labelScale+2*wrapMargin} x2={dividerX} y2={legendStartY+(i+1)*2*labelScale-2*wrapMargin-0.1*labelScale}
            stroke="#184738" stroke-width={labelScale/12} stroke-dasharray="{labelScale/12} {labelScale/6}"/>
        <!-- description text -->
        <text id={level.descriptionID} x={descriptionTextStartX} y={legendStartY+i*2*labelScale+labelScale+0.25*descriptionScale}
            font-size={descriptionScale} text-anchor="left" fill="#184738"
            font-family='Oswald' font-weight=200>
          {level.description}
        </text>
      {/if}
    {/if}
  {/each}
</g>

<script>

  export default {

    namespace: 'svg',

    data() {
      return {
        labelScale: 1,
        descriptionScale: 1,
        margin: 2,
        wrapMargin: .3,
        statsScale: 1,
        adjustedStatsDrawingWidth: null,
        stats: [],
      }
    },

    onupdate() {
      if (this.get().labelScale == 1.0) {
        let legendAnnotated = this.get().legendAnnotated

        // Set max label and description widths
        let maxLabelWidth = 0
        let maxDescriptionWidth = 0
        let descriptionsInLegend = this.get().descriptionsInLegend
        for (let level of legendAnnotated) {
          level.labelWidth = document.getElementById(level.labelID).getBBox().width
          if (level.labelWidth > maxLabelWidth) {
            maxLabelWidth = level.labelWidth
          }
          if (descriptionsInLegend) {
            level.descriptionWidth = document.getElementById(level.descriptionID).getBBox().width
            if (level.descriptionWidth > maxDescriptionWidth) {
              maxDescriptionWidth = level.descriptionWidth
            }
          }
        }

        // Set label and description font scales
        let labelScale = this.get().labelTextWidth / maxLabelWidth
        if (labelScale > this.get().maxFontSize) {
          labelScale = this.get().maxFontSize
        }
        let descriptionScale
        if (descriptionsInLegend) {
          descriptionScale = this.get().descriptionTextWidth / maxDescriptionWidth
          if (descriptionScale > labelScale) {
            descriptionScale = labelScale
          }
        } else {
          descriptionScale = 1
        }

        this.set({labelScale, descriptionScale})
      }

      // Set stats font scale
      if (this.get().statsScale == 1.0) {
        // Set max stat width
        let stats = this.get().stats
        let maxStatWidth = 0
        for (let stat of stats) {
          let el = document.getElementById(stat.id)
          maxStatWidth = Math.max(maxStatWidth, el.getBBox().width)
        }
        let statsScale = this.get().statsTextWidth / maxStatWidth
        let labelScale = this.get().labelScale
        let adjustedStatsDrawingWidth = this.get().adjustedStatsDrawingWidth || this.get().drawingWidth
        if (statsScale > labelScale) {
          statsScale = labelScale
          adjustedStatsDrawingWidth = maxStatWidth * statsScale + 2 * this.get().margin
        }
        this.set({statsScale, adjustedStatsDrawingWidth})
      }
    },

    computed: {

      // junk: (s) => {
      //   console.log(s.statsTextWidth)
      // },

      legendAnnotated: ({levelConfigAnnotated}) => {
        let legendAnnotated = []
        for (let level of levelConfigAnnotated) {
          legendAnnotated.push(level)
        }
        // TODO: Confirm that there is at least one goal before adding the goal row to legendAnnotated
        legendAnnotated.push({
          label: "Goal",
          description: `Get all to "${legendAnnotated[0].label}" by indicated date`,
          color: "#DDDDDD",
          labelID: "goal-label",
          descriptionID: "goal-description",
        })
        return legendAnnotated
      },
      startX: ({radarSize, margin}) => radarSize + margin,
      drawingWidth: ({sidebarWidth, margin}) => sidebarWidth - (2 * margin),
      keyWidth: ({drawingWidth, descriptionsInLegend}) => descriptionsInLegend ? .14 * drawingWidth : 0.3 * drawingWidth,
      keyHeight: ({labelScale, wrapMargin}) => (labelScale * 1.9) - (2 * wrapMargin),
      keyStartX: ({startX, wrapMargin}) => startX + wrapMargin,
      labelAreaWidth: ({drawingWidth, descriptionsInLegend}) => descriptionsInLegend ? .21 * drawingWidth : 0.7 * drawingWidth,
      labelTextWidth: ({labelAreaWidth, margin}) => labelAreaWidth - (2 * margin),
      labelTextStartX: ({margin, keyStartX, keyWidth}) => keyStartX + keyWidth + margin,
      descriptionWidth: ({drawingWidth, descriptionsInLegend}) => descriptionsInLegend ? .65 * drawingWidth : 0,
      descriptionTextWidth: ({descriptionWidth, margin}) => descriptionWidth - (3 * margin),
      descriptionTextStartX: ({labelTextStartX, labelAreaWidth, margin}) => labelTextStartX + labelAreaWidth + margin,
      dividerX: ({descriptionTextStartX, margin}) => descriptionTextStartX - 1.5 * margin,
      legendStartY: ({legendAnnotated, labelScale, radarSize, showSummaryStats}) => {
        if (showSummaryStats) {
          return (3 * radarSize / 4) - (labelScale * legendAnnotated.length)  // Each row is 2*labelScale
        } else {
          return (radarSize / 2) - (labelScale * legendAnnotated.length)
        }
      },
      statsStartY: ({radarSize, stats, statsScale}) => (radarSize / 4) - (3 * statsScale * stats.length / 4), // Each row is 1.5*statsScale
      statsTextWidth: ({drawingWidth, margin}) => drawingWidth - 2 * margin,
    }
  }
</script>
